/*======================================================================*/
/* PRELOADER */
/*======================================================================*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../preloader/Preloader_2.gif") center no-repeat #fff;
}

/*======================================================================*/
/* GENERAL STYLING */
/*======================================================================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

body, html{
    height: 100vh;
    width: 100%;
    font-family: monospace;
    color: black;
}

/* FONTS */
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'Indie Flower', cursive; */

/* FONT SIZE */
.big-text {
    font-size: 5.5vw;
}

.small-text {
    font-size: 1.5vw;
}

/* BOLD */
.bold {
    font-weight: bold;
}

/* SPACING */
.padding {
    padding: 10px;
}

.no-wrap {
    white-space: nowrap;
}

/*======================================================================*/
/* NAV */
/*======================================================================*/
nav {
    position: fixed;
    background: rgba(255, 255, 255, 0.8) !important;
    padding: 0 20px;
    z-index: 100;
}

/* Text Color */
nav div ul li a,
nav div a {
    color: black !important;
}

/* Hover Color */
.nav-effect:hover {
    background: rgb(99, 194, 222);
}

/* Clicked Color */
.highlight {
    background: rgb(99, 194, 222);
}

/*======================================================================*/
/* LANDING PAGE */
/*======================================================================*/
.gorge {
    background-image: url("../images/night.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%; 
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#hello-container {
    align-items: center; 
    text-align: center;
    color: rgb(231, 245, 249);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
}

/*======================================================================*/
/* SCROLLING CSS */
/*======================================================================*/
.scrolled {
    background: rgb(34, 34, 34) !important;
}
.scrolled-font {
    color: white !important;
}

/*======================================================================*/
/* ABOUT */
/*======================================================================*/
.trees {
    background-image: url("../images/trees.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    background-position: center;
    border-style: solid;
    border-width: 10px 0 10px 0;
    border-color: rgb(99, 194, 222);
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#about-me {
    max-height: 85%;
    background: rgb(231, 245, 249, .8);
    margin: 50px 0 50px 0;
    border-style: solid;
    border-width: 10px 0;
    border-color: rgb(99, 194, 222);
    overflow: auto;
    border-radius: 5px;

    /* Vertical Center */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#about-pic {
    border: 5px solid rgb(31, 31, 31);
    border-radius: 50px;
}

#about-text {
    font-size: 24px;
}

#slashes {
    color: rgb(248, 179, 2); 
}

#resume-button-color {
    background: rgb(99, 194, 222);
}

/*======================================================================*/
/* PROJECTS */
/*======================================================================*/
.bottombg {
    background-image: url("../images/dark.png");
    width: 100%;
}

.project-section {
    width: 100%;
}

#projects {
    color: #E7F5F9;
    padding: 0 40px 40px 40px;
}

.projects-slashes {
    color: rgb(99, 194, 222);
}

/* Isotope Filter Text Color */
.button:hover {
    color: rgb(99, 194, 222); 
}
.is-checked {
    color: rgb(248, 179, 2); 
}

#projects div h2 {
    margin: 0;
    padding-top: 40px;
}

.card {
    border-style: solid;
    border-width: 5px;
    border-color: rgb(99, 194, 222);
    border-radius: 50px;
    overflow: hidden;
}

/* HOVER */
.card-reveal{
  color: #ffffff;
  background-color: rgba(0,0,0,0.7) !important;
}
div.card-reveal span.card-title{
  color: #ffffff !important;
}
.hover {
    background-color: rgba(0,0,0,0.7) !important;
}

.project-info {
    text-align: center;
}

/* Isotope */
.element-item {
    width: 33.33% !important;
}

/*======================================================================*/
/* CONTACT */
/*======================================================================*/
.page-footer {
    width: 100%;
    background-color: rgb(99, 194, 222, .5) !important;
    border-top-style: solid;
    border-width: 10px 0 0 0;
    border-color: rgb(99, 194, 222);
    border-radius: 50% 50% 0 0;
    text-align: center;
}

.copyright {
    margin: 0 auto;
}

#contact {
    padding-bottom: 20px;
}

a {
    color: rgb(248, 179, 2); 
}

/*======================================================================*/
/* MEDIA QUERIES */
/*======================================================================*/
/* Centers Landing Background */
@media screen and (max-width: 1432px) {
    .gorge {
        background-position: 47% 53%;
    }
}

/*============================*/
/* MATERIALIZE RESPONSIVENESS */
/*============================*/
/* LARGE */
@media screen and (max-width: 1200px) {
    
}
/* MEDIUM */
@media screen and (max-width: 992px) {
    /* Isotope */
    .element-item {
        width: 50% !important;
    }
}
/* SMALL */
@media screen and (max-width: 600px) {
    /* Isotope */
    .element-item {
        width: 100% !important;
    }
    /* Filter Buttons */
    .filters-button-group {
        font-size: 2.5vw;
    }

    /* Hello Div */
    .big-text {
        font-size: 10vw;
    }
    .small-text {
        font-size: 2.5vw;
    }

    /* Brand */
    .brand-logo {
        font-size: 7vw !important;
    }
}

/*============================*/
/* GENERAL RESPONSIVENESS */
/*============================*/
/* 748px */
@media screen and (max-width: 748px) {

    /* Center Filter Buttons */
    .filters-button-group {
        text-align: center;
        padding: 10px;
        display: block !important;
    }

    /* Section Titles */
    .header {
        font-size: 20pt;
    }
}

/*==================*/
/* Scrollbar */
/*==================*/
/* Width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(34, 34, 34);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(248, 179, 2); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(99, 194, 222);
}